@using Group14_BevoBooks.Models
@model IEnumerable<Group14_BevoBooks.Models.Order>
@{
    ViewData["Title"] = "Report - All Orders";
}
<h2>All Orders</h2>

<form asp-action="AllOrders" asp-controller="Report">
    <div class="form-group">
        <label>Sort By:</label>
        @Html.DropDownList("SelectedSort", (SelectList)ViewBag.OrderSort, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-dark">Sort Results</button>
</form>

<div>
    <p>@ViewBag.ReportCount Results</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderProfitMargin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
                @Html.DisplayFor(modelItem => item.AppUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSubtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderProfitMargin)
            </td>
        </tr>
        }
    </tbody>
</table>
