@using Group14_BevoBooks.Models
@model IEnumerable<Group14_BevoBooks.Models.Discount>

@{
    ViewData["Title"] = "Index";
}

<h2>Coupon Codes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PromoCode)
            </th>
            <th>
                Discount Amount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PromoCode)
            </td>
            <td>
                @if (item.DiscountType == DiscountType.FreeShipping)
                {
                     @Html.DisplayFor(modelItem => item.DiscountAmountShipping)
                }
                @if (item.DiscountType == DiscountType.PercentOff)
                {
                     @Html.DisplayFor(modelItem => item.DiscountAmountPercent)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiscountID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscountID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
