@using Group14_BevoBooks.Models
@model IEnumerable<Group14_BevoBooks.Models.Book>

    @{
    ViewData["Title"] = "View";
    }

    <p class="form-group">
        <a asp-action="Index" class="btn btn-success">Back to Detailed Search</a>
        <a asp-action="SearchResult" class="btn btn-danger">Show All</a>
    </p>


    <p>Displaying @ViewBag.SelectedBooks out of @ViewBag.TotalBooks </p>

    <h2>View</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UniqueID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.decAverageRating)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.decAverageRating)
                </td>

                <td>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@item.BookID">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
