@model IEnumerable<Group14_BevoBooks.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h2>Pending Reviews</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewID">Deny</a> |
                <a asp-action="ApproveReview" asp-route-id="@item.ReviewID">Approve</a>
            </td>
        </tr>
}
    </tbody>
</table>
