@model Group14_BevoBooks.Models.Book
@using Group14_BevoBooks.Models

@{
    ViewData["Title"] = "Details";
}

<h2>Book Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UniqueID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniqueID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublishedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.decAverageRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.decAverageRating)
        </dd>
    </dl>
</div>

@ViewBag.Message
@if (Model.Active == true)
{
    <form asp-action="Create" asp-controller="Order" method="post">
        <div class="form-group">
            @Html.HiddenFor(model => model.BookID, new { id = "bookid" })
        </div>
        <button type="submit" class="btn btn-danger">Add To Cart</button>
    </form>
}

<p></p>
<p>Book Reviews</p>
<table class="table table-hover">
    <thead class="thead-dark">
    <thead>
        <tr>
            <th>Rating</th>
            <th>Review</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Review r in Model.Reviews)
        {
            @if(r.Approved == true)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => r.Rating)</td>
                    <td>@Html.DisplayFor(modelItem => r.ReviewText)</td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
